.ljDetails .position {
    text-align: start;
}
.ljDetails .courseSection {
    text-align: left;
    align-items: start;
    /* background: red; */
    width:calc(50%-2rem);
    float: left;
    padding:2rem;
    align-items: center;
    justify-content: center;

}

.ljDetails .skillSection {
    width:calc(50%-2rem);
    text-align: left;
    align-items: center;
    justify-content: center;
    align-items: end;
    /* background: blue; */
    float: left;
    padding: 2rem;

}