.header {
    justify-content: center;
    text-align: start;
}

#container {
    display: inline;
    width: 300px;
    /* background-color: #ffcc33; */
}

#firstColumn {
    width: 15%;
    float: left;
    height: 300px;
    /* background-color: blue; */
    margin-right: 5%;
}

#secondColumn {
    width: 80%;
    float: left;
    height: 300px;
    /* background-color: green; */
}
